@import"main.css";.nav{background-color:#000}.download{display:flex;align-items:center;justify-content:center;width:100%;height:calc(100vh - 201px)}.download .download-platform{display:flex}.download .download-platform .download-item{display:flex;flex-direction:column;align-items:center;margin:0 64px;padding-bottom:32px}.download .download-platform .download-item svg{width:128px;height:128px;margin:64px}.download .download-platform .download-item svg path{fill:#999;transition:all .5s}.download .download-platform .download-item .name{margin:0;font-size:28px}.download .download-platform .download-item .version{margin:0;font-size:20px}.download .download-platform .download-item .download-button{width:120px;height:40px;background-color:#0188fb;color:#fff;font-size:20px;text-align:center;line-height:40px;margin:24px 0;transition:all .5s;border-radius:4px}.download .download-platform .download-item .download-button:hover{opacity:.5}.download .download-platform .download-item .update{color:#0188fb;transition:all .5s}.download .download-platform .download-item .update:hover{opacity:.5}.download .download-platform .download-item:hover{box-shadow:0px 0px 32px #dbdbdb}.download .download-platform .download-item:hover svg path{fill:#00aff5}.footer{display:flex;flex-direction:column;justify-content:center;align-items:center;width:100%;height:200px;border-top:1px solid #ededed}.footer .copy,.footer .studio{color:gray}
#slider img {
  max-height: 400px; /* 图片的最大高度为400像素 */
  height: auto; /* 保持图片的宽高比 */
}
#slider {
    display: flex;
    transition: transform 0.5s ease;
    flex-wrap: nowrap; /* 添加这一行 */
}
#slider li {
    list-style: none;
    width: 100%; /* 修改宽度为100% */
}
#slider-wrap {
    overflow: hidden;
    position: relative;
}

